<!-- 
this code was written by Niels van den Dries (NvandenDries.nl) for OctoberCMS v3, 
if you want more info about this plugin you can reach me at niels@nvandendries.nl
-->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

{% if flashMessage %}
<div class="alert alert-success">{{ flashMessage }}</div>
{% endif %}

<section class="border mt-2" id="inbox" class="mt-2" show-reply-fields="{{ true }}">
    <div class="container-fluid">
        <h3>Inbox</h3>
    </div>
    {% for message in messages %}
    <div class="accordion accordion-flush" id="accordionInbox{{ message.id }}">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{ message.id }}" aria-expanded="true" aria-controls="collapseOne">
                    <h5><strong><i class="bi bi-calendar2-event"></i> {{ message.created_at }}</strong>: Message From {{
                        message.sender_name }}</h5>
                </button>
            </h2>
            <div id="collapse{{ message.id }}" class="accordion-collapse collapse"
                data-bs-parent="#accordionInbox{{ message.id }}">
                <div class="accordion-body">
                    <div class="input-group">
                        <textarea class="form-control" readonly>{{ message.content|raw }}</textarea>
                    </div>
                    <hr>
                    {% if showReplyFields %}
                    <strong><i class="bi bi-card-text"></i> Send a reply message back to "{{ message.sender_name
                        }}":</strong>
                    <form class="mb-1" method="post" data-request="{{ onReplyMessage }}">
                        <input type="hidden" name="messageId" value="{{ message.id }}">
                        <div class="input-group">
                            <textarea class="form-control" name="messageContent" rows="2"
                                placeholder="Reply to this message">{{ replyContent }}</textarea>
                            <button type="submit" class="btn btn-primary">Send reply</button>
                        </div>
                    </form>
                    {% endif %}
                    <button type="button" class="btn btn-outline-danger" data-request="onDeleteMessage"
                        data-request-data="messageId: {{ message.id }}"
                        data-request-confirm="Are you sure you want to delete this message?"><i
                            class="bi bi-trash3"></i> Delete
                        message
                    </button>
                    {% if not message.is_read %}
                    <button type="submit" data-request="onReadMessage" data-request-data="messageId: {{ message.id }}"
                        type="button" class="btn btn-outline-success"><i class="bi bi-envelope-check"></i> Mark as read
                    </button>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container-fluid">
        <p>No messages</p>
    </div>
    {% endfor %}

</section>