<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<section is="inbox" class="mt-2" show-reply-fields="{{ true }}">
    <h3>Inbox</h3>
    {% if flashMessage %}
    <div class="alert alert-success">{{ flashMessage }}</div>
    {% endif %}
    {% if messages %}

    <ul class="list-group list-group-flush">
        {% for message in messages %}
        <li class="list-group-item">
            {% if not message.is_read %}
            <a type="submit" data-request="onReadMessage" data-request-data="messageId: {{ message.id }}" href=""><i
                    class="bi bi-check-lg"></i>
            </a>
            {% endif %}
            <a href="" data-request="onDeleteMessage" data-request-data="messageId: {{ message.id }}"
                data-request-confirm="Are you sure you want to delete this message?"><i class="bi bi-trash3"></i>
            </a>

            <strong>{{ message.created_at }}</strong> From {{ message.sender_name }} <br> <strong>Message:</strong>

            <i>{{
                message.content|raw
                }}</i>
            {% if showReplyFields %}
            <form method="post" data-request="{{ onReplyMessage }}">
                <input type="hidden" name="messageId" value="{{ message.id }}">
                <div class="input-group">
                    <textarea class="form-control" name="messageContent" rows="2"
                        placeholder="Reply to this message">{{ replyContent }}</textarea>
                    <button type="submit" class="btn btn-primary">Reply</button>
                </div>
            </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    {% else %}
    <p>No messages found.</p>
    {% endif %}
</section>